# Common
.DS_Store
*.log
.env
.idea
.vscode
node_modules/
vendor/

# Backend
backend/.env
backend/.env.backup
backend/.env.production
backend/node_modules/
backend/vendor/
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/public/storage
backend/public/build
backend/public/hot

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
